body {
  padding-top: 70px;
}

footer {
  padding-left: 15px;
  padding-right: 15px;
}

.cotainer-fluid {
  padding: 0 15px;
}

#right-side {
  position: fixed;
  right: 0;
}

div.no-padding > div[class*="col-"] {
 padding: 0;
}
