body {
  padding-top: 33px;
}

footer {
  padding-left: 15px;
  padding-right: 15px;
}

.cotainer-fluid {
  padding: 0 15px;
}

#right-side {
  position: fixed;
  right: 0;
}

.topper {
  margin-bottom: 0;
}

#right-side {
  position: fixed;
}

.mini-chart {
  pointer-events:none;
}

.table td {
  vertical-align: middle;
  cursor: pointer;
}

hr {
  margin: 15px 0;
}

.label.caption {
  font-weight: normal;
  opacity: 0.5;
  padding: 4px 6px;
}

#inner-control-panel {
  padding: 6px 19px 0px 19px;
}

.navbar .brand {
  font-size: 18px;
  line-height: 12px;
}

div .navbar-inner {
  min-height: 30px;
}

.accordion-group {
  margin: 0;
}

.accordion-heading .accordion-toggle {
  padding: 0;
}

.accordion-inner {
  padding: 0;
}
