<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        <i class="icon-tasks"></i>
        MultiFinder
      </a><!-- /.brand -->
    </div><!-- /.header -->
  </div><!-- /.container -->
</div><!-- /.navbar -->

<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-9">

      <div class="panel panel-default">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center">Causing A</th>
              <th class="text-center">Causign B</th>
              <th class="text-center">Causing A&B</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Histogram</td>
              <td>Histogram</td>
              <td>Histogram</td>
            </tr>
            <tr>
              <td>Histogram</td>
              <td>Histogram</td>
              <td>Histogram</td>
            </tr>
            <tr>
              <td>Histogram</td>
              <td>Histogram</td>
              <td>Histogram</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          Detailed View
        </div>
      </div>
    </div>

    <div class="col-xs-3 sidebar-offcanvas" role="navigation">
      <strong class="list-group-item">Events</strong>
      <input type="text" class="form-control" placeholder="Filter out" ng-model="query">
      <div class="list-group" id="events">
        <a href="#" class="list-group-item event-item" ng-repeat="category in categories | filter:query">
          {{category.name}}
        </a>
      </div><!--/.events -->

      <strong class="list-group-item">Similarity Factors</strong>

      <div class="list-group">
          <li class="list-group-item"><small>Timing</small> <input type="text" value="" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="128" id="timing" data-slider-tooltip="hide" data-slider-id="timing" data-slider-handle="round" ></li>
          <li class="list-group-item"><small>Attributes</small> <input class="span2" type="text" value="" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="128" id="attributes" data-slider-tooltip="hide" data-slider-handle="round" ></li>
          <li class="list-group-item"><small>Ocurrences</small> <input class="span2" type="text" value="" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="128" id="ocurrences" data-slider-tooltip="hide" data-slider-handle="triangle" ></li>

      </div>

    </div><!-- /.sidebar -->

  </div><!--/row-->

  <hr>

  <footer>
    <p>&copy; Information Visualization - Fall 2013 - UMD</p>
  </footer>

</div><!--/.container-->

<script>
$("#timing").slider()
$("#attributes").slider()
$("#ocurrences").slider()
</script>
