<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">Multifinder</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid no-space">
    <div class="span6">
      <div class="row-fluid">
        <table class="table table-condensed table-hover span12">
          <thead>
            <tr>
              <th style="width: 80%">Histograms</th>
              <th style="width: 5%">SC</th>
              <th style="width: 15%">Event</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="eventRow in eventRows" ng-click="updateMainChart({'name':eventRow.eventName, 'series':eventRow.chartConfig.series})">
              <td><highchart config="eventRow.chartConfig"></highchart></td>
              <td></td>
              <td>{{eventRow.eventName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="span6" id="right-side">
      <div class="navbar navbar-inner topper">
        <span class="brand">Control Panel</span>
      </div>
      <div class="well topper">
        <div id="selects">
          <select class="span3" ng-model="refEventA" ng-change="updateHistograms()" data-style="btn-info" ng-options="e for e in refChoicesA" bs-select></select>
          <select class="span3" ng-model="refEventB" ng-change="updateHistograms()" data-style="btn-success" ng-options="e for e in refChoicesB" bs-select></select>
          <select class="span3" ng-model="selectedDataset" ng-change="fetchJSON()" ng-options="d.name for d in datasets" data-style="btn-primary" bs-select></select>
        </div>
        <div class="input-append">
          <!--TODO: Andres, bootstrap's input-group stuff doesn't work well with angular's input types.
            We probably want the following 3 elements to appear in one line, like here: http://getbootstrap.com/components/#input-groups-basic.
            I'd like to keep the number spinner, though.
            Can you think of something to fix that?-->
          <label >Time bin size:</label>
          <input class="span3" ng-model="binSize" type="number">
          <select class="span5" ng-model="binSizeUnit" data-style="btn-info" ng-options="u.name for u in binSizeUnits" bs-select></select>
          <button class="btn" ng-click="updateHistograms()" type="button">Update</button>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <div class="navbar navbar-inner topper">
            <span class="brand">Selected Event</span>
          </div>
          <div class="well">
            <highchart config="mainChart"></highchart>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
